<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu"></div>
        <p>
          <a href="http://turkcekaynaklar.com">Türkçe Kaynaklar</a> · <a href="https://twitter.com/fatihacet">Fatih Acet</a><br />
          <a href="https://github.com/fatihacet/turkcekaynaklar-com">GitHub</a> ve <a href="https://gitlab.com/fatihacet/turkcekaynaklar-com">GitLab</a>'da katkıda bulunun.
          <br /><a href="https://gitlab.com/fatihacet/turkcekaynaklar-com">GitLab Pages</a> ile yayınlanıyor.
        </p>
      </div>
    </div>
  </div>
</footer>
{% include analytics.html %}
